

.content-wrapper {
  margin: 0;
}

.about-text-container{
width: 70%;
}
.about-text-container p {
  text-align: justify;
  margin: 12pt 0;
}
.about-text-container h2 {
  border-radius: 8pt;
  margin: 0;
}
.card-2 img {
  border-radius: 8pt;
  width: 30%;
  height: fit-content;
  background: var(--prim-20);
}


.faq-container{
  flex-direction: column;
}
.faq-container h2{
    text-align: center;
}

.faq-elem .header{
  position: relative;
}

.faq-elem{
  overflow: hidden;
  display: block;
}
.faq-elem h3{
    margin: 0;
}
.d-check{
  margin: 24pt;
  cursor: pointer;
}
.d-check input~span{
  color: var(--prim-100);
}
.faq-container .header{
  display: flex;
}
.faq-container .content{
  display: block;
  overflow: hidden;
  height: 0;
}
.faq-container .content p{
  text-align: justify;
  margin: 24pt;
  margin-top: 0;
}