
table {
  width: 100%;
}

label {
  font-size: 14pt;
  opacity: 0.8;
  cursor: pointer;
}
label:hover{
  opacity: 1;
}
.d-radio{
  padding: 14pt;
}
.label-wrapper {
  vertical-align: middle;
}
.label-wrapper.message{
  vertical-align: top;
}
#contactMessage {
  height: 100%;
  width: 100%;
}
.d-btn{
  margin-top: 36pt
}
